<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-menu-button> </ion-menu-button>
        </ion-buttons>
        <ion-title>Add to List Array</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="cart.name"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Colour</ion-label>
        <ion-input type="text" [(ngModel)]="cart.colour"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" [(ngModel)]="cart.age"></ion-input>
    </ion-item>

    <ion-button expand="full" color="secondary" (click)="submit()">Submit</ion-button>
    <ion-button expand="full" color="dark" (click)="goNext()">Next Page</ion-button>



    <div *ngIf="cartList.length > 0">
        <div *ngFor="let cart of cartList">
            {{cart.name }} {{ cart.colour }} {{cart.age}}
        </div>
    </div>

</ion-content>