<ion-header>
    <ion-toolbar>
        <ion-title>upload</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <input type='file' (change)="uploadFile($event)">
        <div> {{ uploadPercentage | async }} %</div>
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

        <ion-progress-bar [value]="(uploadPercentage |async)"></ion-progress-bar>
        <label [className]="(uploadPercentage |async)"> {{uploadPercentage |async}} %</label>
        <span id="(uploadPercentage |async)"></span>
        <ion-card>
            <button color="warn" (click)="onClick()">
                <ion-icon>file_upload</ion-icon>Upload
              </button>
        </ion-card>

    </ion-card>
</ion-content>