<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Detail</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name='cart'></ion-icon>
                <ion-badge>{{count}}</ion-badge>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>
    <div *ngIf="cartList.length > 0">
        <div *ngFor="let cart of cartList">
            <ion-button fill="fill" (click)="delete(cart)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </div>
        <ion-card *ngFor="let cart of cartList">
            <ion-card-header>
                <ion-card-title>{{cart.name }}</ion-card-title>
                <ion-card-subtitle>{{ cart.colour}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                {{cart.age}}
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<!-- <ion-footer>
    <ion-buttons>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="add"> </ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-buttons>
</ion-footer> -->